# Build
dist/
dist-ssr/
*.local

# Dependencies
node_modules/
/chevera-v2/web-client/node_modules/
/chevera-v2/backend-api/node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Go
/chevera-v2/backend-api/main
/chevera-v2/backend-api/cmd/server/main

# Docker
postgres_v2_data/
